body {
  background: #ededed;
}
.container {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right:15px;
  background: #fff;
}
.exp_title {
  font-weight: bold;
}
#pic_div {
  text-align: center;  
}
#my_pic {
  position: absolute;
  margin-top: 15px;
  max-width: 15%;
  max-height: 15%;
}
